/* Style Global */
:root {

    /* Paleta de Colores */
    --color-body: #1c1d22;
    --color-navegation: #1a1a1d;
    --color-titulos: #01C38D;
    --color-texto: #b0b3c3;
    --color-texto-nav: #e0e0e0;
    --color-texto-nav-hover: #ffffff;
    --color-fondo-nav: #1a1a1d;
    --color-btn: #01C38D;
    --color-tarjetas: #3c6464;
    --color-input: #efeaea;


    /* Fuentes */
    --fuente-principal: 'Roboto', sans-serif;

}

body {
    background-color: var(--color-body);
    font-family: var(--fuente-principal);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


/* Navigation Bar */
.containerNavegation {
    width: 100%;
    height: 6rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.containerNavegation__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-navegation);
    padding-left: 1.5rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.containerNavegation__links {
    display: flex;
    gap: 2rem;
}

.containerNavegation__nav-enlace {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--color-texto);
    font-weight: bold;
    background-color: var(--color-fondo-nav);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 0.5rem;
}

.containerNavegation__nav-enlace:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.containerNavegation__containerLogo {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 4rem;
    width: 100%;
    height: 4rem;
}

.containerNavegation__containerLogo-logo {
    width: 3rem;
    height: 3rem;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon img {
    width: 2.7rem;
    height: 2.7rem;
}


@media (max-width: 768px) {
    .containerNavegation__nav {
        justify-content: space-between;
    }

    .menu-icon {
        display: block;
    }

    .containerNavegation__links {
        display: none;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        background-color: var(--color-navegation);
        flex-direction: column;
        text-align: center;
    }

    .containerNavegation__links.active {
        display: flex;
    }

    .containerNavegation__nav-enlace {
        width: 100%;
        padding: 1rem 0;
        font-size: 1.2rem;
        margin: 0;
        border-radius: 0;
    }
}


/* Section One */
.containerSeccionOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

@media (max-width: 568px) {
    .containerSeccionOne {}
}

.containerSeccionOne__titulo {
    text-align: center;
    color: var(--color-titulos);
    font-size: 5rem;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
}

.containerSeccionOne__titulo::after {
    content: '|';
    font-weight: normal;
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (max-width: 568px) {
    .containerSeccionOne__titulo {
        font-size: 3.3rem;
    }
}

.containerSeccionOne__titulo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.containerSeccionOne__subtitulo {
    text-align: center;
    color: var(--color-titulos);
    font-size: 3rem;
    text-transform: uppercase;
}

@media (max-width: 568px) {
    .containerSeccionOne__subtitulo {
        font-size: 2.3rem;
    }
}

.containerSeccionOne__subtitulo:hover {

    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.containerSeccionOne__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 1.3rem;
    color: var(--color-texto);
    border: 0.1rem solid var(--color-btn);
    border-radius: 0.3rem;
    width: 18rem;
    height: 4rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.containerSeccionOne__btn:hover {

    transform: scale(1.05);
}


/* Section Two */

.containerSeccionTwo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70rem;
    scroll-snap-align: start;
    padding: 5rem 2rem;
    color: var(--color-texto);
}

@media (max-width: 568px) {
    .containerSeccionTwo {
        width: 100%;
        height: 100vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
}

.containerSeccionTwo__contenido {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;

}

.containerSeccionTwo__titulo {
    font-size: 3rem;
    margin-bottom: 3.5rem;
    color: var(--color-titulos);
}

.containerSeccionTwo__texto {
    margin: 0 auto;
    width: 100%;
    width: 80%;
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
    color: var(--color-texto);
}


/* Seccion 3 */
.containerSeccionThree {
    padding: 2rem;
    background-color: var(--color-body);
    color: var(--color-texto);
}

.containerSeccionThree__titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 6rem;
    color: var(--color-titulos);
    text-transform: uppercase;
}

.containerSeccionThree__grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
}

@media (max-width: 768px) {
    .containerSeccionThree__grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
    }
}

.containerSeccionThree__tarjeta {
    background-color: var(--color-tarjetas);
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.containerSeccionThree__tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}

.containerSeccionThree__educacion {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.containerSeccionThree__instituto,
.containerSeccionThree__año {
    font-size: 1.2rem;
}


/* Seccion 4 */

.contenedorFormulario {
    width: 100%;
    height: 50rem;
    margin-top: 25rem;
}

.contenedorFormulario__titulo {
    text-align: center;
    font-size: 3rem;
    color: var(--color-titulos);
}

.contenedorFormulario__contenedorInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    gap: 5rem;

}

.contenedorFormulario__contenedorInput-input {
    margin: 0 auto;
    width: 35rem;
    height: 3.8rem;
    text-align: center;
    background-color: var(--color-input);
    border-radius: 0.8rem;
}

.contenedorFormulario__contenedorInput-btn {
    width: 15rem;
    height: 3.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

/* FOOTER */
.containerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    margin-top: 20rem;
    background-color: var(--color-fondo-nav);
}

.containerFooter__copy {
    font-size: 1.3rem;
    color: var(--color-texto);
}